@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("assets/images/greek-vase.png");
  background-repeat: repeat;
}

// -- Ovverwrites for Angular Material & TailwindCSS compatibility --//
img {
  max-width: none;
}
